## Create Tables in Data Base

Tutorial [Link](https://colab.research.google.com/github/GoogleCloudPlatform/cloud-sql-python-connector/blob/main/samples/notebooks/mysql_python_connector.ipynb#scrollTo=wfEvH386zX2V)

In [2]:
# !gcloud sql databases create kexpDB --instance=kexp-sandbox

In [1]:
import google.auth

credentials, project_id = google.auth.default()

# install dependencies
# pip install cloud-sql-python-connector["pymysql"] SQLAlchemy==2.0.7

import sys
if '..' not in sys.path:
    sys.path.append('..')

from scripts.utils import openfile


from google.cloud.sql.connector import Connector
import sqlalchemy
from sqlalchemy import MetaData
from creds import user

In [2]:
# initialize parameters
INSTANCE_CONNECTION_NAME = user['INSTANCE_CONNECTION_NAME']# i.e demo-project:us-central1:demo-instance
print(f"Your instance connection name is: {INSTANCE_CONNECTION_NAME}")
DB_USER = user['DB_USER']
DB_PASS = user['DB_PASS']
DB_NAME = user['DB_NAME']


root_path = user['root_path']

Your instance connection name is: kexp-explore:us-central1:kexp-sandbox

In [3]:


# initialize Connector object
connector = Connector()

# function to return the database connection object
def getconn():
    conn = connector.connect(
        INSTANCE_CONNECTION_NAME,
        "pymysql",
        user=DB_USER,
        password=DB_PASS,
        db=DB_NAME
    )
    return conn

# create connection pool with 'creator' argument to our connection object function
pool = sqlalchemy.create_engine(
    "mysql+pymysql://",
    creator=getconn,
)

engine = pool

In [4]:
# Create a MetaData object
metadata = MetaData()

# Reflect the existing database schema into the MetaData object
metadata.reflect(bind=engine)

# Access information about tables in the 'tables' dictionary attribute
for table_name, table in metadata.tables.items():
    print(f"Table name: {table_name}")
    # Access columns, constraints, etc. through the 'table' object

Table name: hosts
Table name: plays
Table name: programs
Table name: shows

In [5]:
metadata.tables.items()

dict_items([('hosts', Table('hosts', MetaData(), Column('id', INTEGER(), table=<hosts>, primary_key=True, nullable=False), Column('uri', VARCHAR(length=255), table=<hosts>, nullable=False), Column('name', VARCHAR(length=100), table=<hosts>, nullable=False), Column('image_uri', VARCHAR(length=255), table=<hosts>), Column('thumbnail_uri', VARCHAR(length=255), table=<hosts>), Column('is_active', TINYINT(display_width=1), table=<hosts>, nullable=False), schema=None)), ('plays', Table('plays', MetaData(), Column('id', INTEGER(), table=<plays>, primary_key=True, nullable=False), Column('uri', VARCHAR(length=255), table=<plays>, nullable=False), Column('airdate', TIMESTAMP(), table=<plays>, nullable=False), Column('show_id', INTEGER(), table=<plays>, nullable=False), Column('song', VARCHAR(length=255), table=<plays>, nullable=False), Column('track_id', VARCHAR(length=255), table=<plays>, nullable=False), Column('recording_id', VARCHAR(length=255), table=<plays>, nullable=False), Column('artist', VARCHAR(length=255), table=<plays>, nullable=False), Column('album', VARCHAR(length=255), table=<plays>, nullable=False), Column('release_id', VARCHAR(length=255), table=<plays>), Column('release_group_id', VARCHAR(length=255), table=<plays>), Column('release_date', VARCHAR(length=255), table=<plays>), Column('is_local', TINYINT(display_width=1), table=<plays>), Column('is_request', TINYINT(display_width=1), table=<plays>), Column('is_live', TINYINT(display_width=1), table=<plays>), Column('comment', TEXT(), table=<plays>), schema=None)), ('programs', Table('programs', MetaData(), Column('id', INTEGER(), table=<programs>, primary_key=True, nullable=False), Column('uri', VARCHAR(length=255), table=<programs>, nullable=False), Column('name', VARCHAR(length=100), table=<programs>, nullable=False), Column('description', TEXT(), table=<programs>, nullable=False), Column('tags', VARCHAR(length=255), table=<programs>), Column('is_active', TINYINT(display_width=1), table=<programs>, nullable=False), schema=None)), ('shows', Table('shows', MetaData(), Column('id', INTEGER(), table=<shows>, primary_key=True, nullable=False), Column('uri', VARCHAR(length=255), table=<shows>, nullable=False), Column('program', INTEGER(), table=<shows>, nullable=False), Column('program_uri', VARCHAR(length=255), table=<shows>), Column('hosts', VARCHAR(length=2550), table=<shows>), Column('program_name', VARCHAR(length=255), table=<shows>), Column('program_tags', VARCHAR(length=255), table=<shows>), Column('tagline', TEXT(), table=<shows>), Column('image_uri', VARCHAR(length=255), table=<shows>), Column('start_time', TIMESTAMP(), table=<shows>, nullable=False), schema=None))])

In [6]:


# connect to connection pool
with pool.connect() as db_conn:
  # create hosts table in our kexp-sandbox database
  db_conn.execute(sqlalchemy.text(openfile(root_path+'hosts.sql')))

  # commit transaction (SQLAlchemy v2.X.X is commit as you go)
  db_conn.commit()

  # create plays table in our kexp-sandbox database
  db_conn.execute(sqlalchemy.text(openfile(root_path+'plays.sql')))

  # commit transaction (SQLAlchemy v2.X.X is commit as you go)
  db_conn.commit()

  # create programs table in our kexp-sandbox database
  db_conn.execute(sqlalchemy.text(openfile(root_path+'programs.sql')))

  # commit transaction (SQLAlchemy v2.X.X is commit as you go)
  db_conn.commit()

  # create shows table in our kexp-sandbox database
  db_conn.execute(sqlalchemy.text(openfile(root_path+'shows.sql')))

  # commit transaction (SQLAlchemy v2.X.X is commit as you go)
  db_conn.commit()

  # create timeslots table in our kexp-sandbox database
  db_conn.execute(sqlalchemy.text(openfile(root_path+'timeslots.sql')))

  # commit transaction (SQLAlchemy v2.X.X is commit as you go)
  db_conn.commit()

File contents:
CREATE TABLE IF NOT EXISTS hosts (
                id INT PRIMARY KEY,
                uri VARCHAR(255) UNIQUE NOT NULL,
                name VARCHAR(100) UNIQUE NOT NULL,
                image_uri VARCHAR(255),
                thumbnail_uri VARCHAR(255),
                is_active BOOL NOT NULL
            );
File contents:
CREATE TABLE IF NOT EXISTS plays (
                id INT PRIMARY KEY,
                uri VARCHAR(255) UNIQUE NOT NULL,
                airdate TIMESTAMP NOT NULL,
                show_id INT NOT NULL,
                song VARCHAR(255) NOT NULL,
                track_id VARCHAR(255) NOT NULL,
                recording_id VARCHAR(255) NOT NULL,
                artist VARCHAR(255) NOT NULL,
                album VARCHAR(255) NOT NULL,
                release_id VARCHAR(255),
                release_group_id VARCHAR(255),
                release_date VARCHAR(255),
                is_local BOOL,
                is_request BOOL,
                is_live BOOL,
                comment TEXT);
File contents:
CREATE TABLE IF NOT EXISTS programs (
                id INT PRIMARY KEY,
                uri VARCHAR(255) UNIQUE NOT NULL,
                name VARCHAR(100) UNIQUE NOT NULL,
                description TEXT NOT NULL,
                tags VARCHAR(255),
                is_active BOOL NOT NULL
            );
File contents:
CREATE TABLE IF NOT EXISTS shows (
                id INT PRIMARY KEY,
                uri VARCHAR(255) UNIQUE NOT NULL,
                program INT NOT NULL,
                program_uri VARCHAR(255),
                hosts VARCHAR(2550),
                program_name VARCHAR(255),
                program_tags VARCHAR(255),
                tagline TEXT,
                image_uri VARCHAR(255),
                start_time TIMESTAMP NOT NUll
            );
File contents:
CREATE TABLE IF NOT EXISTS timeslots (
                id INT PRIMARY KEY,
                uri VARCHAR(255) UNIQUE NOT NULL,
                program INT NOT NULL,
                program_uri VARCHAR(255),
                program_name VARCHAR(255),
                program_tags VARCHAR(255),
                weekday INT,
                start_date DATE,
                end_date TIME,
                start_time TIME,
                end_time TIME,
                duration TIME
            );

In [7]:
# Reflect the existing database schema into the MetaData object
metadata.reflect(bind=engine)

for t in metadata.tables.items():
    print(t[0])

hosts
plays
programs
shows
timeslots

## Populate Tables